################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# .NET build outputs
bin/
obj/

# ASP.NET wwwroot
CloudComputing.Server/wwwroot/

# Visual Studio
.vs/
*.user